<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In / Sign Up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="/css/userSignIn.css">
    <style>
        .error {
            color: red;
            font-size: 0.9em;
            margin-top: 0.25em;
        }

        .is-invalid {
            border-color: red;
        }
        
    </style>
</head>

<body>
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 sign-in-section">
                <div class="sign-in-content create-account">
                    <h1>Sign in</h1>
                    <div class="social-container">
                        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                        <a href="auth/google/callback" class="social"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <span>or use your account</span>
                    <form id="signIn">

                        <div class="form-group">
                            <input type="email" name="email" placeholder="Email" class="form-control" id="email">
                            <div class="error" id="emailError"></div>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Password" class="form-control"
                                id="password">
                            <!-- <button type="button" id="togglePassword" class="btn-icon btn-toggle-password"><i
                                    id="passwordIcon" class="fa fa-eye-slash"></i></button> -->
                            <div class="error" id="passwordError"></div>
                        </div>

                        <div class="error" id="generalError"></div>

                        <a href="#" class="forgot-password">Forgot your password?</a>
                        <button type="submit" class="btn btn-primary">SIGN IN</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6 sign-up-section">
                <div class="sign-up-content text-center">
                    <h2>Hello, Friend!</h2>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.getElementById('signIn').addEventListener('submit', async (event) => {
            event.preventDefault()

            //error message showing
            document.querySelectorAll('.error').forEach(error => error.textContent = '');
            document.querySelectorAll('.form-control').forEach(input => input.classList.remove('is-invalid'))

            const email = document.getElementById('email').value.trim()
            const password = document.getElementById('password').value.trim()

            const response = await fetch('/signin', {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email, password })
            })

            const data = await response.json()

            if (!response.ok) {
                const fieldErrors = data.fieldErrors || {}

                if (fieldErrors.email) {
                    document.getElementById("email").classList.add('is-invalid')
                    document.getElementById('emailError').textContent = "Please enter your valid email"
                }
                if (fieldErrors.password) {
                    document.getElementById('password').classList.add('is-valid')
                    document.getElementById('passwordError').textContent = 'Incorrect password, please check your password!'
                }
                if (data.errorMessage && !fieldErrors.email && !fieldErrors.password) {
                    document.getElementById('generalError').textContent = data.errorMessage
                }
            } else {
                window.location.href = data.redirectUrl
            }

        })

        //pasword showing icon
        // const togglePasswordButton=document.getElementById('togglePassword')
        // const passwordField=document.getElementById('password')
        // const passwordIcon=document.getElementById('passwordIcon')

        // togglePasswordButton.addEventListener('click',function () {
        //     const type=passwordField.getAttribute('type')==='password'?'text':'password'
        //     passwordField.setAttribute('type',type)

        //     if (type==="password") {
        //         passwordIcon.classList.add('fa-eye-slash')
        //         passwordIcon.classList.remove('fa-eye')
        //     }else{
        //         passwordIcon.classList.remove('fa-eye')
        //         passwordIcon.classList.add('fa-eye-slash')
        //     }
        // })

        document.getElementById('email').addEventListener('input', () => {
            document.getElementById('email').classList.remove('is-invalid')
            document.getElementById('emailError').textContent = ''
        })

        document.getElementById('password').addEventListener('input', () => {
            document.getElementById('password').classList.remove('is-invalid')
            document.getElementById('passwordError').textContent = ''
        })
    </script>
</body>

</html>