<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Lines</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="/css/userSignUp.css">

</head>

<body>
    <div class="container" id="container">
        <div class="form-container form-container-inner sign-up-container">
            <form id="signUpForm">
                <h1>Create Account</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="auth/google/callback" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your email for registration</span>
                <div class="form-group">
                    <input type="text" name="name" placeholder="Name" class="form-control" id="signUpName">
                </div>
                <div class="form-group">
                    <input type="email" name="email" placeholder="Email" class="form-control" id="signUpEmail">
                </div>
                <div class="form-group password-input">
                    <input type="password" name="password" placeholder="Password" class="form-control"
                        id="signUpPassword">
                </div>
                <div class="form-group password-input">
                    <input type="password" name="conformpassword" placeholder="Confirm Password" class="form-control"
                        id="signUpConfirmPassword">
                </div>
                <div style="text-align: center;" class="error-message" id="signUpErrorMessage"></div>
                <button type="submit" class="btn btn-primary">SIGN UP</button>
            </form>
        </div>
        <div class="form-container form-container-inner sign-in-container">
            <form id="signInForm">
                <h1>Sign in</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="auth/google/callback" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your account</span>
                <div class="form-group">
                    <input type="email" name="email" placeholder="Email" value=""
                        class="form-control" id="signInEmail">
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Password" value=""
                        class="form-control" id="signInPassword">
                </div>
                <div style="text-align: center;" class="error-message" id="signInErrorMessage"></div>
                <a href="/forgotPasswordPage">Forgot your password?</a>
                <button type="submit" class="btn">Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="toggleSignIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="toggleSignUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script>
        const toggleSignUpButton = document.getElementById('toggleSignUp');
        const toggleSignInButton = document.getElementById('toggleSignIn');
        const container = document.getElementById('container');

        toggleSignUpButton.addEventListener('click', () => {
            container.classList.add("right-panel-active");
            clearErrors(document.getElementById('signUpErrorMessage'));
            clearData('signUpForm')
        });

        toggleSignInButton.addEventListener('click', () => {
            container.classList.remove("right-panel-active");
            clearErrors(document.getElementById('signInErrorMessage'));
            clearData('signInForm')
        });

        function clearErrors(errorDiv) {
            // const errorElement = document.getElementById(errorDivId);
            errorDiv.innerText = '';
        }
        function clearData(fieldData) {
            const form=document.getElementById(fieldData)
            const input=form.querySelectorAll('input')
            input.forEach(ele=>ele.value='')
        }

        function showError(errorDivId, message) {
            const errorElement = document.getElementById(errorDivId);
            errorElement.innerText = message;
        }

        document.getElementById('signInForm').addEventListener('submit', async (event) => {
            event.preventDefault();
            clearErrors(document.getElementById('signInErrorMessage'));

            const email = document.getElementById('signInEmail').value.trim();
            const password = document.getElementById('signInPassword').value.trim();

            const response = await fetch('/signin', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email, password })
            });

            const data = await response.json();

            if (!response.ok) {
                const fieldErrors = data.fieldErrors || {};

                if (fieldErrors.email) {
                    showError('signInErrorMessage', 'Invalid email, please check it!');
                } else if (fieldErrors.password) {
                    showError('signInErrorMessage', 'Password is incorrect!');
                } else if (data.errorMessage && !fieldErrors.email && !fieldErrors.password) {
                    showError('signInErrorMessage', 'Both fields are required');
                }
            } else {
                window.location.href = data.redirectUrl;
            }
        });

        document.getElementById('signUpForm').addEventListener('submit', async (event) => {
            event.preventDefault();
            clearErrors(document.getElementById('signUpErrorMessage'));

            const name = document.getElementById('signUpName').value.trim();
            const email = document.getElementById('signUpEmail').value.trim();
            const password = document.getElementById('signUpPassword').value.trim();
            const conformpassword = document.getElementById('signUpConfirmPassword').value.trim();

            const nameRegex = /^[A-Za-z]+$/;
            if (!nameRegex.test(name)) {
                showError('signUpErrorMessage', 'Name should only contain alphabetic characters.');
                return;
            }
            const urlParams=new URLSearchParams(window.location.search)
            const userId=urlParams.get('userId')

            const response = await fetch('/signup', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ name, email, password, conformpassword,userId })
            });

            const data = await response.json();

            if (!response.ok) {
                const fieldErrors = data.fieldErrors || {};

                if (fieldErrors.name) {
                    showError('signUpErrorMessage', 'Please enter your name');
                } else if (fieldErrors.email) {
                    showError('signUpErrorMessage', 'Please enter a valid email');
                } else if (fieldErrors.password) {
                    showError('signUpErrorMessage', 'Please check your password structure');
                } else if (fieldErrors.conformpassword) {
                    showError('signUpErrorMessage', 'Passwords do not match');
                } else if (data.errorMessage) {
                    showError('signUpErrorMessage', data.errorMessage);
                }
            } else {
                window.location.href = data.redirectUrl;
            }
        });

        // document.querySelector('.social[href="auth/google/callback"]').addEventListener('click', (event) => {
        //     event.preventDefault();
        //     showError('signUpErrorMessage', 'You have already signed up with Google. Please sign in with Google.');
        // });

       


    </script>
</body>

</html>